body {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ed4264, #ffedbc);
    overflow: hidden;
}
body .wrap {
    width: 250px;
    height: 200px;
    position: relative;
    min-width: 250px;
}
body .wrap:after {
    content: 'Click Me';
    position: absolute;
    color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
    bottom: -50px;
    width: 100%;
    text-align: center;
}
body .wrap input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
}
body .wrap input:checked ~ h1 sub,
body .wrap input:checked ~ h1 sup {
    top: -30px;
}
body .wrap input:checked ~ h1 sub b,
body .wrap input:checked ~ h1 sup b {
    transform: translateX(-50%) rotate(0deg) scale(1);
}
body .wrap input:checked ~ h1 sub b {
    transform: translateX(-50%) rotate(360deg) scale(0);
}
body .wrap input:checked ~ h1 sub span {
    transform: scaleY(-1) translateY(-7.5px);
}
body .wrap h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 80px;
    color: #fff;
}
body .wrap h1:before, body .wrap h1:after {
    content: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet";
    display: inline-block;
    position: absolute;
    width: 100vw;
    text-align: right;
    right: 190px;
    font-size: 80px;
    margin: 0;
    top: -40px;
    min-width: 10000px;
    opacity: 0.15;
}
body .wrap h1:after {
    right: auto;
    left: 190px;
    text-align: left;
}
body .wrap h1 sub,
body .wrap h1 sup {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease-in-out;
}
body .wrap h1 sub b,
body .wrap h1 sup b {
    position: absolute;
    transform: translateX(-50%) rotate(0deg) scale(1);
    left: 50%;
    top: -60px;
    transition: 0.3s ease-in-out;
}
body .wrap h1 sub span,
body .wrap h1 sup span {
    display: inline-block;
    transition: 0.2s ease-in-out;
}
body .wrap h1 sup b {
    top: 75px;
    transform: translateX(-50%) rotate(360deg) scale(0);
}
body .wrap h1 sup span {
    opacity: 0;
}
.sitter {
    position: fixed;
    font-family: monospace;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    border-radius: 22px;
    display: inline-block;
    margin-right: 5px;
    bottom: 30px;
}
.left {
    left: 30px;
}
.right {
    right: 30px;
}